.Login{
    background-image: url("https://img.freepik.com/free-vector/football-graffiti-background_1176-345.jpg?size=626&ext=jpg&uid=R65547328&ga=GA1.1.898627168.1643553705");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #fff;
}